@{ 
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="BugTracker">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>BugTracker</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <ng-view></ng-view>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @*Loads all javascripts in the ~/Scripts/ngApp folder and subfolders*@
    @Scripts.Render("~/bundles/angularCustom")
</body>
</html>
